<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.chat.dao.ChatMapper">  
  	<resultMap type="chatVO" id="chatMap">
  		<result property="chatVO.message" column="message"/>
  		<result property="chatVO.timestamp" column="timestamp"/>
  	</resultMap>
  		<select id="selectChatDetail" parameterType="integer"
  										resultType="chatVO">
		  SELECT
			    c.chat_num,
			    c.party_num,
			    c.mem_num,
			    c.message,
			    c.timestamp,
			    m.mem_name
		  FROM
			    party_chat c
			    JOIN member_detail m ON c.mem_num = m.mem_num
		  WHERE
		    	party_num = #{party_num}
		  ORDER BY
		    	c.timestamp
		</select>
</mapper>







