<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.chat.dao.ChatMapper">  
  	<resultMap type="chatVO" id="chatMap">
  		<result property="chatVO.message" column="message"/>
  		<result property="chatVO.timestamp" column="timestamp"/>
  	</resultMap>
		 <select id="selectChatDetail" 
  	                          parameterType="integer"
  	                              resultType="chatVO">
  		SELECT
  		  <![CDATA[
  		  REPLACE(REPLACE(message,'<','&lt;'),'>','&gt;') message,
  		  ]]>
  		  timestamp,
  		  read_count,
  		  mem_num,
  		  mem_name
  		FROM party_chat t LEFT OUTER JOIN (SELECT
  		                                 chat_num,
  		                                 COUNT(*) read_count
  		                               FROM party_chat_read
  		                               GROUP BY chat_num) r USING(chat_num)
  		              JOIN member_detail m USING(mem_num)
  		WHERE party_num=#{party_num}
  		ORDER BY timestamp ASC                               
  	</select>
</mapper>







