@charset "UTF-8";
/* 전체 화면 */
li {
  list-style: none;
}
.date-position{
	text-align:center;
	width: 150px;
    height: 15px;
	color: gray;
	background-color: #ced4da;
	position: relative;
    margin: auto;
    margin-top: 20px;
    border-radius: 50px;
}
.date-position span{
	text-align: center;
    color: gray;
    width: 150px;
    height: 15px;
}
.align-right{
	text-align:right;
}
.listButton img{
	width: 25px;
	height:25px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F7F8FA;
  
}
/*채팅방 목록*/
.page-main {
  background-color: #f8f9fa;
  padding: 16px;
}
.party-img img{
	width: 200px;
	height: 100px;
}

h2 {
  font-size: 18px;
  margin-bottom: 16px;
  text-align: center;
}

.result-display {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-top: 24px;
}

.chat-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

th {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

td {
  font-size: 14px;
  color: #666;
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

a {
  color: #333;
  text-decoration: none;
  display: block;
  float: left;
}
ul{
	margin: 0;
	padding: 0;
}
/* 채팅방 내용 */
.chatDetail {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* 채팅방 헤더 */
.chat-header {
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.chat-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #3C4043;
}

.chat-header a {
  color: #333;
  text-decoration: none;
  display: block;
  float: right;
}

.chat-header img{
	width: 30px;
	height: 30px;
}

/* 채팅방 메시지 영역 */
.chat-messages {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
  
}

/* 채팅 메시지 */
.chat-message-left {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.chat-message-left .message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.chat-message-left .message-header .username {
  font-size: 14px;
  font-weight: bold;
  color: #3C4043;
}

.chat-message-left .message-header .timestamp {
  font-size: 12px;
  color: #9AA0A6;
}

.chat-message-left .message-content {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 10px;
  float: left;
  font-size: 14px;
  color: #3C4043;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

/* 채팅 메시지 */
.chat-message-right {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.chat-message-right .message-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.chat-message-right .message-header .username {
  font-size: 14px;
  font-weight: bold;
  color: #3C4043;
}

.chat-message-right .message-header .timestamp {
  font-size: 12px;
      text-align:right;
  color: #9AA0A6;
}

.chat-message-right .message-content {
  background-color: #FFFFFF;
  border-radius: 5px;
    float: right;
  padding: 10px;
  font-size: 14px;
  color: #3C4043;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

/* 메시지 입력 영역 */
.message-input {
  position: fixed;
  bottom: 0;
  width: 94%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 10px;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.1);
}
.message-input textarea {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  color: #3C4043;
  resize: none;
}

input[type=submit] {
  margin-left: 10px;
  background-color: #2E86C1;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 50px;
}