@charset "UTF-8";
    .container {
      margin: 0 auto;
      padding: 20px;
      max-width: 600px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      margin-top: 100px;
    }
    h1 {
      text-align: center;
      margin-top: 0;
      font-size:35px;
    }
    .link-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
    }
    .link-box {
      margin: 10px;
      width: 150px;
      height: 80px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      text-align: center;
      transition: background-color 0.3s;
    }
    .link-box:hover {
      background-color: #ccc;
    }
    .link-box a {
      display: block;
      margin-top: 25px;
      color: #333;
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
    }
    
    /*아이디찾기
    -----------------------------------*/
     .containerId {
      margin: 0 auto;
      padding: 20px;
      max-width: 600px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      margin-top: 100px;
      margin-bottom: 20px;
    }
    form{
	    margin: 0 auto;
		padding: 10px 10px 10px 30px;
	    margin-right: 40px;
	    all: unset;
    }
    label {
      margin-top: 20px;
      font-size: 16px;
      font-weight: bold;
    }
    .containerId input[type="text"] {
      padding: 10px;
      margin-top: 5px;
      width: 96%;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }
    .inputName {
  	margin-bottom: 20px;
	}
    .findId-btn {
      text-align: right;
      padding-right: 25px;
    }
    .findId-submit-btn {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-bottom: 20px;
    }
    .findId-submit-btn:hover {
      background-color: #0056b3;
    }
    .message {
      margin-top: 20px;
      font-size: 16px;
      color: red;
    }
    /* 비밀번호 찾기
    ------------------*/
	.containerPw {
		margin: auto;
		padding: 10px;
		max-width: 600px;
		background-color: #fff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		margin-top: 100px;
		margin-bottom: 20px;
	}
	form .findPw{
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		all: unset;
	}
    .findpw-btn {
      text-align: right;
    }
	.form-control {
		margin-bottom: 10px;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		width: 100%;
		box-sizing: border-box;
		font-size: 16px;
		background-color: #fff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	}
	.to, .userNum{
	   margin-top: 20px;
      font-size: 16px;
      font-weight: bold;
      display: block;
	}
	.containerPw input[type="text"]{
      padding: 10px;
      margin-top: 5px;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }
	#contents input[type="text"]{
      padding: 10px;
      margin-top: 5px;
      width: 86%;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }
	.btn {
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		background-color: #007bff;
		color: #fff;
		font-size: 16px;
		cursor: pointer;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	}
	.btn:hover {
		background-color: #0069d9;
	}
	.error-msg {
		color: #ff0000;
		font-size: 14px;
		margin-top: 5px;
	}
	button[type="button"] {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 20px;
      margin-bottom: 20px;
    }
   #confrimWrap {
   margin-top:20px;
  	display: none;
	}