@charset "UTF-8";

/* 전체 레이아웃
---------------------------*/
*{
	padding: 0;
	margin: 0;
}

div#main{
	margin:0 auto;
	font-size:10pt;
	font-family:"맑은 고딕"; 
}
div#main_header{
	margin-bottom:10px;
}
div#main_body{
	padding:5px 5px 30px 5px;
	min-height:500px;
}
div#main_footer{
	background-color:#303740;
}
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited {
	text-decoration:none;
	color:#000000;
}
a:hover {
	text-decoration:underline;
	color:#999999;
}

/* 좌측 메뉴 레이아웃(Admin,MyPage)
---------------------------*/
div#page_nav{
	float:left;
	width:30%;
	min-height:530px;
}
div#page_body{
	width:70%;
	float:left;
}
.page_clear{
	clear:both;
}

/* 페이지 기본 레이아웃
---------------------------*/
.page-main{
	width:90%;
	margin:0 auto;
}
.page-one{
	width:600px;
	margin:0 auto;
}

/* 공통 메시지
---------------------------*/
.result-display{
	width:400px;
	height:200px;
	margin:50px auto;
	border:1px solid;
	display:flex;
	align-items:center;
	justify-content:center;
}
.error-color{
	color:#ff0000;
}

/* 공통 정렬
---------------------------*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}

/* 상단 메뉴
---------------------------*/
div#main_menu ul{
	list-style:none;
}
div#main_menu ul li{
	margin-bottom:5px;
}

/* 메인
---------------------------*/


/*메인페이지 파티목록
---------------------------*/
.item-space{
	padding-left: 120px;
}
.item-space .horizontal-area{
	margin:2px;
	padding:3px;
	width:200px;
	height:220px;
	float:left;
	overflow:hidden;
	text-align:center;
}
.item-space .horizontal-area span{
	padding:5px;
	margin:5px;
}
.item-space .horizontal-area img{
	width:195px;
	height:175px;
}
.item-space .float-clear{
	clear:both;
}

/*슬라이드 쇼 시작
-----------------------*/
.slideshow {
  position: block;
  margin: auto;
}


/* 슬라이드 쇼 하단 점 */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 7px;
  background-color: skyblue;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.Slides img {
  width: 100%;
  height: 300px;
}
.active {
  background-color: #717171;
}

/* 애니메이션 페딩 */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .10} 
  to {opacity: 1}
}

/* 슬라이드 쇼 끝 */



/* 공통 등록, 수정 폼
---------------------------*/
form{
	width:800px;
	margin:0 auto;
	border:1px solid #000;
	padding:10px 10px 10px 30px;
}
form ul li{
	clear:both;
}
form ul li label{
	width:130px;
	float:left;
}
ul{
	list-style:none;
}
input{
	margin-top:10px;
}
input[type="text"],.page-main input[type="password"],.page-main input[type="email"]{
	width:200px;
}
#register_form input[id="id"]{
	width:263px;
}
input#notice_title{
	margin-left: -95px;
	margin-bottom: 9px;
    margin-top: -1px;
}
input[id="zipcode"]{
	width:245px;
}
input[id="number"]{
	width:100px;
}
.form-notice{
	margin-left:130px;
}
ul.paging-button{
	overflow:hidden;
}
li.paging-num{
	float:left;
	list-style:none;
	padding:10px;
	cursor:pointer;
}
li.paging-current{
	float:left;
	list-style:none;
	padding:10px;
}

.qjxms {
  width: 55px;
    height: 28px;
    font-size: 14px;
    font-weight: 600;
    background-color: #03c75a;
    border-color: #ffffff;
    color:white;
}

/*메뉴 추가 */
.party_menu{
	margin:0;
	padding:0;
	text-align:center;
}
.party_menu li{
	display:inline;
}
.party_menu a{
	display: inline-block;
	padding:70px;
	color: #626262;
	font-weight: bold;
}
.party_menu img{
	width: 95px;
	height: 95px;
}
/*메뉴 추가 끝*/

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* 회원정보 수정, 비밀번호 변경, 회원탈퇴
---------------------------*/
#modify_form, #change_form, #delete_form{
	width:600px;
}

/* 로그인
---------------------------*/
#login_form{
	width:600px;
}
#login_form #id,#login_form #passwd{
	width:200px;
}

/* Admin, MY페이지 공통
---------------------------*/
.side-bar{
	margin: 10px 10px 10px 0;
    padding: 10px;
    margin-top: -9999px;
    margin-bottom: -9999px;
    padding-top: 9999px;
    padding-bottom: 9999px;
    position: relative;
    width: 290px;
    overflow: hidden;
    max-height: 1000px;
    background-color: #fff;
    box-shadow: 5px 1px 8px 0 rgb(0 0 0 / 6%);
    border-left: 1px solid rgba(0,0,0,.08);
    vertical-align: top;
    z-index: 1;
}
.side-bar ul{
	margin:0;
	padding:0;
}
.side-bar ul li{
	padding:5px 10px 5px 10px;
}
.side-bar ul li img{
	margin-left:35px;
}
.side-height{
	/*사이드바의 높이가 컨텐트의 높이와 동일하게 자동 조절하기
	위해 흘러넘친 배경색은 숨김*/
	width:1024px;
	margin:0 auto;
	overflow:hidden;
	margin-bottom:10px;
}
.menu-btn{
	width:100px;
	height:32px;
	font-size:9pt;
	background-color:#FCFCFC;
	border-color:#B7B5B5;
	border-radius:5px;
}
input#out.menu-btn{
	margin-left:5px;
}
input#change.menu-btn{
	margin-left:25px;
}
/* MY페이지
---------------------------*/
.my-photo{
	object-fit:cover;
	object-position:top;
	border-radius:50%;
}
.my-photoo{
	width: 200px;
    height: 200px;
	object-fit:cover;
	object-position:top;
	border-radius:50%;
}
.align-center input {
    width: 55px;
    height: 28px;
    font-size: 14px;
    font-weight: 600;
    background-color: #03c75a;
    border-color: #ffffff;
    border-radius: 2px;
}

.mem-detail{
	font-size:15px;
	padding: 15px 0px 5px 0px;
}
.mem-detail h2{
	margin-left:75px;
}
.mem-detail h2 input{
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 5px;
    width: 100px;
    height: 30px;
    font-size: 13px;
    font-weight: 700;
    background-color: #FCFCFC;
    border-color: #B7B5B5;
    border-radius: 5px;
}
.mem-detail ul{
	margin-left: 30px;
	font-size: 16px;
	padding: 10px 10px 0px 10px;
	letter-spacing: 0.2px;
}
.photo_btn{
	width: 80px;
    height: 30px;
    font-size: 15px;
    font-weight: 700;
}
img#photo_pencil{
	width:30px;
	height:30px;
	position: absolute;
}
.btns{
	margin-top: 25px;
    margin-left: 60px;
    margin-bottom: 25px;
}
#review{
	width: 140px;
    height: 35px;
    border-radius: 12px 12px 12px 12px;
    background-image: linear-gradient(98deg,#03c75a,#49c6dd);
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 4px;
    color: #fff;
    border: 1px solid white;
}
#fav_review{
	width: 140px;
    height: 35px;
    border-radius: 12px 12px 12px 12px;
    background-image: linear-gradient(98deg,#03c75a,#49c6dd);
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 4px;
    color: #fff;
    border: 1px solid white;
    margin-left:10px;
}
#in_party{
	width: 140px;
    height: 35px;
    border-radius: 12px 12px 12px 12px;
    background-image: linear-gradient(98deg,#03c75a,#49c6dd);
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 4px;
    color: #fff;
    border: 1px solid white;
    margin-left:10px;
}
#fav_party{
	width: 140px;
    height: 35px;
    border-radius: 12px 12px 12px 12px;
    background-image: linear-gradient(98deg,#03c75a,#49c6dd);
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 4px;
    color: #fff;
    border: 1px solid white;
    margin-left:10px;
}

#upload{
	margin-left: 22px;
    width: 180px;
    height: 30px;
    font-size: 13px;
    font-weight: 700;
    background-color: #FCFCFC;
    border-color: #B7B5B5;
    border-radius: 5px;
}
#photo_submit{
	margin-left: 22px;
    width: 100px;
    height: 30px;
    font-size: 13px;
    font-weight: 700;
    background-color: #FCFCFC;
    border-color: #B7B5B5;
    border-radius: 5px;
}
#photo_reset{
	margin-left: 15px;
    width: 100px;
    height: 30px;
    font-size: 13px;
    font-weight: 700;
    background-color: #FCFCFC;
    border-color: #B7B5B5;
    border-radius: 5px;
}

/* 공통 목록
---------------------------*/
form#search_form{
	width:600px;
	border:none;
}
ul.search{
	width:340px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}
ul.search li input[type="search"]{
	width:150px;
}
.list-space{
	width:700px;
	margin:10px auto;
}
table.basic-table{
	width:100%;
	margin:7px 0;
	border:1px solid #000;
	border-collapse:collapse;
}
table.basic-table td, table.basic-table th{
	border:1px solid #000;
	padding:5px;
}

table.striped-table{
	border:1px solid #FFF;
	font-size:15px;
	width:100%;
	border-collapse:collapse;
	margin-bottom:30px;
	border-radius: 12px;
    box-shadow: 2px 2px 14px 0 rgb(0 164 73 / 25%);
}
table.striped-table tr{
	background:linear-gradient(98deg,#03c75a,#49c6dd);
	color:white;
    font-size: 17px;
    white-space: nowrap;
}
table.striped-table td, table.striped-table th{
	padding: .7em .5em;
	vertical-align:middle;
}
table.striped-table th{
	font-weight:bold;
}
table.striped-table td{
	border-bottom:1px solid rgba(0,0,0,.1);
	text-align:center;
	background:white;
	color:black;
	max-width: 210px;
    overflow: hidden;
    white-space: nowrap;
}
table.striped-table td:nth-child(2){
	text-align:center;
	max-width:220px;
}

/* 게시판 폼
---------------------------*/
/*CKEditor 사용시 등록, 수정폼*/
form#register_form, form#update_form{
	padding:0 0 10px 0;
	width:800px;
}
form#register_form ul, form#update_form ul{
	padding:20px;
}

/* 게시판 글상세
---------------------------*/
ul.detail-info{
	list-style:none;
	margin:0;
	padding:0;
}
ul.detail-info li{
	margin:0;
	padding-top:5px;
	display:inline-block;
}
ul.detail-info li:last-child{
	vertical-align:top;
}
.detail-img{
	max-width:500px;
}
#output_fav{
	cursor:pointer;
}
#output_fcount{
	width:50px;
	display:inline-block;
}
div#reply_div{
	padding:5px 10px 40px 10px;
	margin-top:10px;
	background-color:#eee;
}
form#re_form{
	width:650px;
	border:none;
}
span.re-title{
	color:#000;
	font-size:12pt;
	line-height:200%;
}
span.letter-count{
	font-size:10pt;
	color:#999;
}
textarea.rep-content{
	width:90%;
	height:50px;
	margin:10px 10px;
}
div#re_first, div#mre_first{
	float:left;
	width:70%;
	padding-left:15px;
	margin-bottom:10px;
}
div#re_second, div#mre_second{
	float:left;
	width:19%;
	margin-bottom:10px;
}
div#loading{
	text-align:center;
}
div.paging-button{
	text-align:right;
}
form#mre_form{
	border:none;
	margin:5px;
}
#rhdwltkgkd{
	margin-top: 15px;
    margin-bottom: -30px;
    font-size: x-large;
}
#stiped-table-hap {
    margin-top: 18px;
}
#rmfTmrl{
	margin-left: 55px;
    margin-bottom: 13px;
}
/* 채팅방
---------------------------*/
form#talk_form{
	width:620px;
}
table.chat-table {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border: 1px solid #ccc;
  margin: 20px 10px;
}
table.chat-table thead {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background: #ffab23;
}
table.chat-table thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
}
table.chat-table tbody th {
  width: 620px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #fcf1f4;
}
table.chat-table td {
  width: 620px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

/* 채팅하기
---------------------------*/
#chatting_message{
	border:1px solid black;
	width:660px;
	height:400px;
	margin:0 auto;
	padding:10px;
	overflow:auto;
}
.date-position{
	text-align:center;
}
.date-position span{
	display:inline-block;
	width:300px;
	height:20px;
	border-radius:10px;
	background-color:#f2efef;
}
.from-position{
	width:300px;
	margin:10px 0 10px 330px;
}
.from-position .item{
	background-color:yellow;
	padding:10px;
	min-height:50px;
	border-radius:20px;
	border-top-right-radius:0;
}
.to-position{
	width:300px;
	margin:10px 0 10px 0;
}
.to-position .item{
	background-color:pink;
	padding:10px;
	min-height:50px;
	border-radius:20px;
	border-top-left-radius:0;
}
.to-position div.space-photo{
	float:left;
	width:15%;
}
.to-position div.space-message{
	float:left;
	width:85%;
}
.to-position div.space-clear{
	clear:both;
}

form#detail_form{
	width:640px;
}
#detail_form #message{
	width: 80%;
	height: 50px;
	padding: 10px;
	box-sizing: border-box;
	border: solid 2px gray;
	border-radius: 5px;
	font-size: 16px;
	resize: both;
}
#detail_form input, .listButton input{
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	padding:15px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
	position: relative;
    bottom: 20px;
	
}

#detail_form input:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
#detail_form input:active {
	position:relative;
	top:1px;
}

#chatDetail h2 {
  text-align: center;
  font-size: 2.7rem;
}
  /* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
form{
	  margin: 0 auto;
	  padding: 10px 10px 10px 30px;
	  margin-right: 40px;
	  all: unset;
   }
   .page-main{
	margin: 0 auto;
	padding: 35px;
	max-width: 915px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
	margin-top: 100px;
}
#rmfTmrl{
	margin-left: 17px;
	margin-bottom: 13px;
}
#rhdwltkgkd{
	margin-top: 15px;
    margin-bottom: -30px;
    font-size: x-large;
}
#stiped-table-hap {
    margin-top: 18px;
}
label#vkdlfdjqfhem,#vkdlfdjqfhem1 {
    margin-right: -40px;
    font-size:15px;
}
.align-center input {
    width: 55px;
    height: 28px;
    font-size: 14px;
    font-weight: 600;
    background-color: #03c75a;
    border-color: #ffffff;
    border-radius: 2px;
    color:white;
}
label {
    font-size: 15px;
}
/* 상품
---------------------------*/
.member-info{
	width:60px;
	display: inline-block;
	text-align: center;
}

.partyMembers{
	width:60px;
	display: inline-block;
	
}
div#party-image {
    float: left;
}
div#dhfmsWhr {
   float: left;
    width: 544px;
    margin-left: 43px;
    margin-right: -134px;
}
#partydetail-pagemain{
	margin: 0 auto;
	padding: 18px 128px 439px 18px;
	max-width: 915px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
	margin-top: 39px;
}
input#party_name {
    margin-left: -95px;
    margin-bottom: 9px;
    margin-top: -1px;
    width: 767px;
}
.ck-blurred.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
    height: 375px;
}
button#vkxltodtjd {
    width: 68px;
    height: 28px;
    font-size: 14px;
    font-weight: 600;
    background-color: #03c75a;
    border-color: #ffffff;
    border-radius: 2px;
    color: white;
}
input#upload {
    margin-left: 130px;
    width: 180px;
    height: 30px;
    font-size: 13px;
    font-weight: 700;
    background-color: #FCFCFC;
    border-color: #B7B5B5;
    border-radius: 5px;
    margin-bottom: 25px;
}
.member {
    margin-top: 15px;
    margin-bottom: 14px;
    margin-left: -13px;
}
p {
    margin-top: 10px;
}
/* 장바구니
---------------------------*/

/* 주문
---------------------------*/


