@charset "UTF-8";
*{
	font-family:"맑은 고딕";
}

.float-clear{
	clear:both;
}

/* header */
.header{
	width: 100%;
	height: 55px;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

.header-content{
	width: 1024px;	
	margin: 0 auto;
	display: flex;
}

.logo-cate{
	flex: 1;
	float: left;
}

.logo{
	font-size: 35px;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
}

.logo a{
	color: #19ce60;
}

.logo a:visited{
	color: #19ce60;
}

.logo a:hover{
	color: #009d5a;
	text-decoration: none;
	transition: 0.5s ease-out;
}

.cate{
	display: inline-block;
	font-weight: bold;
	font-size: 15px;
	margin-left: 20px;
}

.cate ul{
	list-style: none;
}

.cate li{
	float: left;
	margin-right: 20px;
}

.cate li a{
	color: #626262;
}

.cate li a:visited{
	color: #626262;
}

.cate li a:hover{
	text-decoration: none;
	color: #19ce60;
	transition: 0.5s ease-out;
}

.button{
	margin-top: 15px;
    text-align: right;
    display: inherit;
}

.button a{
	margin: 0 15px;
}

.button-ul{
	list-style: none;
}

.button-ul li{
	float: left;
	width: 30px;
}

.button-ul li img{
	cursor: pointer;
}

.button-ul > li:hover > .dropdown-login{
	display: block;
}

.button-ul > li:hover > .dropdown-mypage{
	display: block;
}

.dropdown-login{
    width: 150px;
    height: 50px;
    background-color: #303740;
    text-align: center;
    margin-top: 15px;
    padding: 20px 10px;
    position: relative;
    right: 68px;
    z-index: 5;
    display: none;
    border-radius: 15px;
}

.dropdown-login > li{
	width: 150px;
	height: 30px;
	font-weight: bold;
}

.dropdown-login > li a{
	color: #fff;
}

.dropdown-login > li a:visited{
	color: #fff;
}

.dropdown-login > li a:hover{
	color: #19ce60;
	text-decoration: none;
}

.dropdown-login:after { 
	border-top: 0px solid transparent; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent; 
	border-bottom: 10px solid #303740; 
	content: ""; 
	position: absolute;
	top: -10px;
	left: 75px;  
}

.dropdown-mypage{
    width: 150px;
    height: 190px;
    background-color: #303740;
    text-align: center;
    margin-top: 15px;
    padding: 20px 10px;
    position: relative;
    right: 68px;
    z-index: 5;
	display: none;
    border-radius: 15px;
}

.dropdown-mypage > li{
	width: 150px;
	height: 30px;
	font-weight: bold;
}

.dropdown-mypage > li a{
	color: #fff;
}

.dropdown-mypage > li a:visited{
	color: #fff;
}

.dropdown-mypage > li a:hover{
	color: #19ce60;
	text-decoration: none;
}

.dropdown-mypage:after { 
	border-top: 0px solid transparent; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent; 
	border-bottom: 10px solid #303740; 
	content: ""; 
	position: absolute;
	top: -10px;
	left: 75px;  
}

.dropdown-mypage > li:nth-child(1){
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #b4b4b5;
}

#profile{
	display: flex;
	height: 50px;
}

#profile-img{
	width: 35px;
	height: 35px;
	overflow: hidden;
	border-radius: 100%;
	float: left;
	flex: 1;
	padding-left: 5px;
}

#profile-img img{
	width: 35px;
}

#profile span{
	color: #fff;
	line-height: 32px;
    flex: 2;
}

/* 이미지 슬라이드 */
.slider{
	position: relative;
	width: 100%;
	height: 550px;
	margin-top: 15px;
}

.slider ul{
	list-style: none;
}

.slider ul>li{
	position: absolute;
	overflow: hidden;
	width: 800px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.item1{
	top: 50px;
	height: 400px;
	left: 25px;
	z-index: 1;
	background: #fff;
}

.item2{
	top: 30px;
	height: 440px;
	left: 65px;
	z-index: 2;
	background: #fff;
}

.item3{
	top: 0px;
	height: 500px;
	left: 107px;
	z-index: 3;
	background: #fff;
}

.item4{
	top: 30px;
	height: 440px;
	left: 149px;
	z-index: 2;
	background: #fff;
}

.item5{
	top: 50px;
	height: 400px;
	left: 189px;
	z-index: 1;
	background: #fff;
}

.prev_btn{
	position: relative;
	float: left;
	margin-left: 30px;
	z-index: 4;
	top: 225px;
	cursor: pointer;
}

.next_btn{
	position: relative;
	float: right;
	margin-right: 30px;
	z-index: 4;
	top: 225px;
	cursor: pointer;
}

.prev_btn:hover, .next_btn:hover{
	filter: brightness(80%);
	transition: 0.5s ease-out;
}

.txt{
	display: none;
	position: absolute;
	width: 100%;
	height: 50px;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	text-align: center;
	font-weight: bold;
	line-height: 50px;
	font-size: 20px;
}

/* 파티 카테고리 */
.party-category{
	margin: 0 200px;
	height: 80px;
}

.party-category ul{
	list-style: none;
	height: 60px;
}

.party-category li{
	float: left;
	margin: 0 46px;
	text-align: center;
}

.party-category li img{
	width: 40px;
	margin-top: 10px;
}

.cate-bg{
	float: left;
	margin: 0 46px;
	background-color: #303740;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	text-align: center;
}

.cate-bg a:hover{
	color: #009d5a;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.cate-title{
	margin-top: 10px;
	font-weight: bold;
}

/* 파티 목록 */
.party-list{
	margin-top: 40px;
}

.party-list-item{
	float: left;
	width: 320px;
    height: 230px;
    overflow: hidden;
    border: 1px solid #303740;
    margin: 15px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.party-list-item a:hover{
	color: #009d5a;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.party-list-item span{
	font-weight: bold;
	font-size: 15px;
	margin-left: 15px;
}

.party-list-item p{
	margin-left : 15px;
	margin-top: 5px;
	font-size: 10px;
}

.party-list-item img{
	width: 320px;
}

#party_list_img{
	width: 320px;
	height: 160px;
	overflow: hidden;
	border-bottom: 1px solid #303740;
	margin-bottom: 15px;
}

/* footer */
.footer{
	width: 1024px;
	height: 180px;
	margin: 0 auto;
	display: flex;
}

.footer-content-left{
	flex: 1;
}

.footer-content-right{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: right;
}

.footer-content-right img{
	margin: 0 10px;
	cursor: pointer;
}

.footer-menu{
	height: 30px;
	padding: 25px 0;
}

.footer-menu ul{
	list-style: none;
}

.footer-menu li{
	float: left;
	font-weight: bold;
}

.footer-menu ul>li::before{
	content: "|";
	float: left;
	display: block;
}

.footer-menu ul>li:first-child::before{
	content: "";
}

.footer-menu ul>li:nth-child(2)::before{
	content: "";
}

.footer-menu ul>li:first-child a{
	padding-left: 0;
	color: #19ce60;
}

.footer-menu ul>li>a{
	padding: 0 20px;
	color: #b4b4b5;
}

.footer-menu ul>li:first-child a:visited{
	color: #19ce60;
}

.footer-menu ul>li a:visited{
	color: #b4b4b5;
}

.footer-menu ul>li a:hover{
	text-decoration: none;
}

.footer-logo{
	color: #19ce60;
	font-size: 20px;
	font-weight: bold;
}

.footer-info{
	color: #b4b4b5;
	font-size: 5px;
}

.footer-info span{
	line-height: 20px;
}

.footer-info p{
	margin-top: 15px;
}

/* top 버튼 */
.top-btn{
	position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    cursor: pointer;
}

.fc a{
	color: #000;
}

.fc-day-sat a {
	color: blue;
	text-decoration: none;
}

.fc-day-sun a {
  color: red;
  text-decoration: none;
}

.fc-event{
	cursor: pointer;
}

#calendar .fc-day-today{
	background: #f5f5f5;
}

h5{
	cursor: pointer;
}

h5:hover{
	text-decoration: underline;
	font-weight: bold;
}

div#page_content{
	width:75%;
	float:left;
}

#add_schedule{
	width: 75%;
}

#calendarWrite, #calendarDetail, #calendarModify{
	width: 100%;
	margin-left: 250px;
}

a.ui-corner-all{
	border-radius: 0%;
}

a.ui-corner-all:hover{
	border-radius: 0%;
	background: #ccc;
	border: 1px solid #000;
	color: #000;
}

a#ui-active-item{
	border-radius: 0%;
	background: #ccc;
	border: 1px solid #000;
	color: #000;
}