@charset "UTF-8";
*{
	font-family:"맑은 고딕";
}

.float-clear{
	clear:both;
}

/* header */
.header{
	width: 100%;
	height: 55px;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

.header-content{
	width: 1024px;	
	margin: 0 auto;
	display: flex;
}

.logo-cate{
	flex: 1;
	float: left;
}

.logo{
	font-size: 35px;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
}

.logo a{
	color: #03c75a;
}

.logo a:visited{
	color: #03c75a;
}

.logo a:hover{
	color: #009d5a;
	text-decoration: none;
	transition: 0.5s ease-out;
}

.cate{
	display: inline-block;
	font-weight: bold;
	font-size: 15px;
	margin-left: 20px;
}

.cate ul{
	list-style: none;
}

.cate li{
	float: left;
	margin-right: 20px;
}

.cate li a{
	color: #626262;
}

.cate li a:visited{
	color: #626262;
}

.cate li a:hover{
	text-decoration: none;
	color: #09aa5c;
	transition: 0.5s ease-out;
}

.button{
	margin-top: 15px;
    text-align: right;
    display: inherit;
}

.button a{
	margin: 0 15px;
}

.button-ul{
	list-style: none;
}

.button-ul li{
	float: left;
	width: 30px;
}

.button-ul li img{
	cursor: pointer;
}

.button-ul > li:hover > .dropdown-login{
	display: block;
}

.button-ul > li:hover > .dropdown-mypage{
	display: block;
}

.dropdown-login{
    width: 150px;
    height: 50px;
    background-color: #303740;
    text-align: center;
    margin-top: 15px;
    padding: 20px 10px;
    position: relative;
    right: 68px;
    z-index: 5;
    display: none;
    border-radius: 15px;
}

.dropdown-login > li{
	width: 150px;
	height: 30px;
	font-weight: bold;
}

.dropdown-login > li a{
	color: #fff;
}

.dropdown-login > li a:visited{
	color: #fff;
}

.dropdown-login > li a:hover{
	color: #09aa5c;
	text-decoration: none;
}

.dropdown-login:after { 
	border-top: 0px solid transparent; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent; 
	border-bottom: 10px solid #303740; 
	content: ""; 
	position: absolute;
	top: -10px;
	left: 75px;  
}

.dropdown-mypage{
    width: 150px;
    height: 190px;
    background-color: #303740;
    text-align: center;
    margin-top: 15px;
    padding: 20px 10px;
    position: relative;
    right: 68px;
    z-index: 5;
	display: none;
    border-radius: 15px;
}

.dropdown-mypage > li{
	width: 150px;
	height: 30px;
	font-weight: bold;
}

.dropdown-mypage > li a{
	color: #fff;
}

.dropdown-mypage > li a:visited{
	color: #fff;
}

.dropdown-mypage > li a:hover{
	color: #09aa5c;
	text-decoration: none;
}

.dropdown-mypage:after { 
	border-top: 0px solid transparent; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent; 
	border-bottom: 10px solid #303740; 
	content: ""; 
	position: absolute;
	top: -10px;
	left: 75px;  
}

.dropdown-mypage > li:nth-child(1){
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #b4b4b5;
}

#profile{
	display: flex;
	height: 50px;
}

#profile-img{
	width: 35px;
	height: 35px;
	overflow: hidden;
	border-radius: 100%;
	margin-left: 15px;
}

#profile-img img{
	width: 35px;
}

#profile span{
	color: #fff;
	line-height: 32px;
    flex: 2;
}

#party_body{
	width: 864px;
	float: left;
}

/* 이미지 슬라이드 */
#main_body{
	width: 1024px;
	margin: 0 auto;
}

.slider{
	position: relative;
	width: 100%;
	height: 550px;
	margin-top: 15px;
}

.slider ul{
	list-style: none;
	object-fit: cover;
}

.slider ul>li{
	position: absolute;
	overflow: hidden;
	width: 800px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.item1{
	top: 50px;
	height: 400px;
	left: 25px;
	z-index: 1;
	background: #fff;
	display: flex;
    align-items: center;
}

.item2{
	top: 30px;
	height: 440px;
	left: 65px;
	z-index: 2;
	background: #fff;
	display: flex;
    align-items: center;
}

.item3{
	top: 0px;
	height: 500px;
	left: 107px;
	z-index: 3;
	background: #fff;
	display: flex;
    align-items: center; 
}

.item4{
	top: 30px;
	height: 440px;
	left: 149px;
	z-index: 2;
	background: #fff;
	display: flex;
    align-items: center;
}

.item5{
	top: 50px;
	height: 400px;
	left: 189px;
	z-index: 1;
	background: #fff;
	display: flex;
    align-items: center;
}

.prev_btn{
	position: relative;
	float: left;
	margin-left: -40px;
	z-index: 4;
	top: 225px;
	cursor: pointer;
}

.next_btn{
	position: relative;
	float: right;
	margin-right: -30px;
	z-index: 4;
	top: 225px;
	cursor: pointer;
}

.prev_btn:hover, .next_btn:hover{
	filter: brightness(80%);
	transition: 0.5s ease-out;
}

.txt{
	display: none;
	position: absolute;
	width: 100%;
	height: 50px;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	text-align: center;
	font-weight: bold;
	line-height: 50px;
	font-size: 20px;
}

/* 파티 카테고리 */
.party-category{
	margin: 0 200px;
	height: 80px;
}

.party-category ul{
	list-style: none;
	height: 60px;
}

.party-category li{
	float: left;
	margin: 0 46px;
	text-align: center;
}

.party-category li img{
	width: 40px;
	margin-top: 10px; 
}

.cate-bg{
	float: left;
	margin: 0 46px;
	background-color: #303740;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	text-align: center;
}

.cate-bg a:hover{
	color: #009d5a;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.cate-title{
	margin-top: 10px;
	font-weight: bold;
}

/* 파티 목록 */
.party-list{
	margin-top: 40px;
}

.party-list-item{
	float: left;
	width: 320px;
    height: 230px;
    overflow: hidden;
    border: 1px solid #303740;
    margin: 15px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.party-list-item a:hover{
	color: #009d5a;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.party-list-pname{
	font-weight: bold;
	font-size: 15px;
	margin-left: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 15px;
}

.party-list-item p{
	margin-left : 15px;
	margin-top: 5px;
	font-size: 10px;
}

.party-list-item img{
	width: 320px;
}

#party_list_img{
	width: 320px;
	height: 160px;
	overflow: hidden;
	border-bottom: 1px solid #303740;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}

.party-list-hr{
	margin: 25px 0;
	margin-right: 10px;
}

.party-list-p{
	font-weight: bold;
    font-size: 15pt;
    margin-bottom: 10px;
    color: #009d5a;
    margin-left: 15px;
}

.party-list-p a:link{
	color: #009d5a;
}

.party-list-p a:visited{
	color: #009d5a;
}

.party-list-p a:hover{
	color: #009d5a;
	text-decoration: none;
}

/* footer */
.footer{
	width: 1024px;
	height: 180px;
	margin: 0 auto;
	display: flex;
}

.footer-content-left{
	flex: 1;
}

.footer-content-right{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: right;
}

.footer-content-right img{
	margin: 0 10px;
	cursor: pointer;
}

.footer-menu{
	height: 30px;
	padding: 25px 0;
}

.footer-menu ul{
	list-style: none;
}

.footer-menu li{
	float: left;
	font-weight: bold;
}

.footer-menu ul>li::before{
	content: "|";
	float: left;
	display: block;
}

.footer-menu ul>li:first-child::before{
	content: "";
}

.footer-menu ul>li:nth-child(2)::before{
	content: "";
}

.footer-menu ul>li:first-child a{
	padding-left: 0;
	color: #09aa5c;
}

.footer-menu ul>li>a{
	padding: 0 20px;
	color: #b4b4b5;
}

.footer-menu ul>li:first-child a:visited{
	color: #09aa5c;
}

.footer-menu ul>li a:visited{
	color: #b4b4b5;
}

.footer-menu ul>li a:hover{
	text-decoration: none;
}

.footer-logo{
	color: #09aa5c;
	font-size: 20px;
	font-weight: bold;
}

.footer-info{
	color: #b4b4b5;
	font-size: 5px;
}

.footer-info span{
	line-height: 20px;
}

.footer-info p{
	margin-top: 15px;
}

/* top 버튼 */
.top-btn{
	position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    cursor: pointer;
}

/* party nav */
#party_nav{
	float: left;
	min-height: 700px;
}

.party-side-height{
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 10px;
}

.party-nav{
	background-color: #09aa5c;
	width: 160px;
	margin-bottom: -9999px;
	padding-bottom: 9999px;
}

.party-menu{
	list-style: none;
}

.party-menu a{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.party-menu p{
	flex: 2;
	overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    color: #fff;
    margin-bottom: 12px;
}

.party-icon{
	display: inline-block;
	flex: 1; 
}

.party-menu li > ul{
	height: 50px;
}

.party-menu-hover{
	background: #303740;
    position: relative;
    left: 55px;
    top: -42px;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    display: none;
}

.party-menu-hover:after{
	border-top: 5px solid transparent;
    border-left: 0px solid transparent;
    border-right: 10px solid #303740;
    border-bottom: 5px solid transparent;
    content: "";
    position: absolute;
    top: 9px;
    left: -10px;
}

.party-menu li > ul:hover > .party-menu-hover{
	display: block;
}

.party-menu-hover a{
	color: #fff;
}

.party-menu-hover a:visited{
	color: #fff;
}

.party-menu-hover a:hover{
	color: #09aa5c;
	text-decoration: none;
}

/* calendar main */
.calendar-main{
	width: 90%;
	margin: 0 auto;
	padding: 10px;
}

.fc a{
	color: #000;
}

.fc-day-sat a {
	color: blue;
	text-decoration: none;
}

.fc-day-sun a {
  color: red;
  text-decoration: none;
}

.fc-event{
	cursor: pointer;
}

#calendar .fc-day-today{
	background: #f5f5f5;
}

.fc .fc-button-primary{
	background-color: #09aa5c;
    border-color: #09aa5c;
    color: #fff;
    font-weight: bold;
}

.fc .fc-button-primary:hover{
	background-color: #fff;
    border-color: #09aa5c;
    color: #09aa5c;
    font-weight: bold;
}

.fc .fc-button-primary:disabled{
	background-color: #fff;
    border-color: #09aa5c;
    color: #09aa5c;
    font-weight: bold;	
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active{
	background-color: #fff;
    border-color: #09aa5c;
    color: #09aa5c;
    font-weight: bold;	
}

:root{
	--fc-border-color: rgba(48, 55, 64, 0.5);
}

/* calendar detail */
#calendarWrite, #calendarDetail, #calendarModify{
	width: 90%;
	margin: 0 auto;
}

#detail_content, #calendarWrite, #calendarModify{
	display: flex;
	border: 1px solid #303740;
	margin-top: 10px;
	margin-bottom: 20px;
}

#detail_content ul, #calendarWrite form, #calendarModify form{
	flex: 1;
	padding: 15px 20px;
	text-align: center;
}

#detail_content ul li:first-child{
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #303740;
}

#detail_content ul li:nth-child(2){
	height: 120px;
	padding: 0 15px;
	text-align: left;
	margin-bottom: 20px;
	word-break: break-all;
}

#detail_content ul li:nth-child(3), #detail_content ul li:nth-child(4){
	padding: 0 15px;
	text-align: left;
	margin-bottom: 5px;
}

#detail_map, #write_map, #modify_map{
	flex: 1;
	border-left: 1px solid #303740;
}

.participation-member{
	position: relative;
    height: 65px;
    background-color: rgba(48, 55, 64, 0.2);
    z-index: 2;
    bottom: -285px;
    padding: 0px 15px;
}

.participation-member img{
	margin-top: 12px;
	border: 1px solid #303740;
	background-color: #fff;
}

.participation-list{
	width: 25px;
	display: inline-block;
}

#find{
	padding: 3px 10px;
    border: 1px solid #303740;
    border-radius: 2px;
    color: #303740;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

#find:hover{
	background-color: #303740;
	color: #fff;
	transition: 0.2s ease-out;
}

.detail-btn{
	position: relative;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
}

#detail_modify, #participation_btn, #notparticipation_btn, #write_btn, #modify_btn{
	padding: 5px 20px;
    border: 1px solid #09aa5c;
    border-radius: 2px;
    color: #fff;
    background-color: #09aa5c;
    font-weight: bold;
    cursor: pointer;
}

#detail_modify:hover, #participation_btn:hover, #notparticipation_btn:hover, #write_btn:hover, #modify_btn:hover{
	background-color: #fff;
	color: #09aa5c;
	transition: 0.2s ease-out;
}

#detail_delete, #cancel_btn{
	padding: 5px 20px;
    border: 1px solid #09aa5c;
    border-radius: 2px;
    color: #09aa5c;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
}

#detail_delete:hover, #cancel_btn:hover{
	background-color: #09aa5c;
	color: #fff;
	transition: 0.2s ease-out;
}

/* calendarWrite */
#addSchedule_form li, #calendarModify_form li{
	width: 100%;
	margin: 10px 0px;
}

#addSchedule_form ul li:nth-child(3), #calendarModify_form ul li:nth-child(3){
	margin-top: -15px;
}

#addSchedule_form ul li:last-child, #calendarModify_form ul li:last-child{
	margin-top: 25px;
}

#addSchedule_form li label, #calendarModify_form li label{
	display: inline-block;
	width: 15%;
	height: 30px;
	text-align: left;
}

.addSchedule_form_input, .calendarModify_form_input{
	width: 70%;
    border: 1px solid #303740;
    padding: 10px;
}

#addSchedule_form li textarea, #calendarModify_form li textarea{
	width: 70%;
	height: 80px;
	border: 1px solid #303740;
    padding: 10px;
    resize: none;
}

#addSchedule_form li input:focus, #addSchedule_form li textarea:focus,
#calendarModify_form li input:focus, #calendarModify_form li textarea:focus{
	outline: none;
}

#write_content, #modify_content{
	position: relative;
	bottom: 43px;
}

#start_date, #end_date{
	width: 22%;
	border: 1px solid #303740;
    padding: 10px;
}

#start_time, #end_time{
	width: 30%;
	border: 1px solid #303740;
    padding: 10px;
}

.write-color, .modify-color{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-top: -9px;
    border-radius: 100%;
}

#addSchedule_form input[type="radio"], #calendarModify_form input[type="radio"]{
	margin: 0 10px;
	vertical-align: top;
    padding-top: 15px;
}

.write-btn, .modify-btn{
	position: relative;
    transform: translate(-50%, -50%);
    top: 2%;
    left: 50%;	
}

.search-area{
	width: 100%;
	height: 50px;
	position: relative;
	background-color: #fff;
	z-index: 2;
	padding: 5px 0;
	border-bottom: 1px solid #303740;
}

#keyword{
	width: 70%;
    border: 1px solid #303740;
    padding: 10px;
    margin-left: 20px;
    margin-top: 6px;
}

#keyword:focus{
	outline: none;
}

#search_btn{
	padding: 10px 12px;
	background-color: #09aa5c;
	border: 0;
	border-top: 1px solid #303740;
	border-bottom: 1px solid #303740;
	border-right: 1px solid #303740;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

#menu-wrap{
    background-color: #fff;
    overflow-y:auto;
    padding-bottom: 10px;
    max-height: 176px;
    border-bottom: 1px solid #303740;
    display: none;
}

#placesList{
	padding: 10px 28px;
	display: none;
}

#placesList li{
	list-style: none;
}

#placesList .item {
	position: relative;
	border-bottom: 1px solid #303740;
	overflow: hidden;
	cursor: pointer;
}

#placesList .item span{
	display: block;
	margin-top:4px;
}

#placesList .item h5, #placesList .item .info{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#placesList .item .info{
	padding: 10px 0 10px 55px;
}

.info:hover{
	background-color: #09aa5c;
	color: #fff;
	border-radius: 10px;
}

#placesList .item{
	position: relative;
	border-bottom: 1px solid #303740;
	overflow: hidden;
	cursor: pointer;
}

#placesList .item .markerbg{
	float: left;
	position: absolute;
	width: 36px; 
	height: 46px;
	margin: 10px 0 0 10px;
	background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}

#pagination{
	margin: 10px auto;
	text-align: center;
}

#pagination a{
	display: inline-block;
	margin-right: 10px;
}

#pagination a:hover{
	text-decoration: none;
}

#pagination .on{
	font-weight: bold; 
	cursor: default;
	color: #777;
}

.ui-timepicker-standard {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}

.ui-widget-content.ui-menu.ui-corner-all {
    border: 1px solid #303740;
    border-radius: 0;
    box-shadow: none;
}

a.ui-corner-all{
	border-radius: 0%;
	width: 50%;
}

.ui-timepicker-viewport {
	width: 200px;
    overflow: auto;
    overflow-x: hidden;
}

a.ui-corner-all:hover{
	border-radius: 0%;
	background: #09aa5c;
	color: #fff;
	border: 0;
	font-weight: bold;
}

a#ui-active-item{
	border-radius: 0%;
	background: #09aa5c;
	color: #fff;
}

/* chat */
.chat-title{
	display: flex;
	background-color: #09aa5c;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    align-items: center;
}

.chat-title h3{
	flex: 10;
	color: #fff;
	font-weight: bold;
}

.chat-title a{
	flex: 1;
}

.chat-date{
	text-align: center;
	margin-top: 15px;
}

.chat-date span{
	display: inline-block;
    width: 250px;
    line-height: 20px;
    border-radius: 10px;
    background-color: #f2efef;
}

#chat_photo{
	border-radius: 100%;
}

.user-name{
	font-weight: bold;
    color: #303740;
    margin-left: 7px;
    margin-top: -25px;
}

.chat-message-left .message-content{
	margin-top: -20px;
	margin-right: 10px;
}

.chat-mesage-left .item{
    padding-left: 47px;
    display: flex;
}

.message-time-left{
    margin-top: -14px;
}

.message-time-right{
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}

.timestamp-left{
    font-size: 8pt;
    margin-left: 10px;
    color: #ccc;
}

.timestamp-right{
	font-size: 8pt;
	float: right;
	color: #ccc;
}

.read_count-left{
	color: #09aa5c;
}

.read_count-right{
	color: #09aa5c;
	text-align: right;
}

#chat_btn{
	padding: 5px 20px;
    border: 1px solid #09aa5c;
    border-radius: 2px;
    color: #fff;
    background-color: #09aa5c;
    font-weight: bold;
    cursor: pointer;
}

#chat_btn:hover{
	background-color: #fff;
	color: #09aa5c;
	transition: 0.2s ease-out;
}

/* chat list */
.chat-list{
	background-color: #09aa5c;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    align-items: center;
}

.chat-list h3{
	color: #fff;
}

.chat-table{
	margin-top: 55px;
}

.party-img{
	width: 80px;
	height: 80px;
	overflow: hidden;
	text-align: center;
	display: flex;
	justify-content: center;
	border-radius: 100%;
	margin-left: 15px;
}

.chat-name{
	line-height: 0px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-reg-date{
	margin-right: 15px;
}

/* 아이디/비밀번호 찾기 */
.find-passwd, .find-id-div, .login-div, .changePasswd-div, .memDelete-div{
	width: 500px;
	margin: 0 auto;
	margin-top: 150px;
}

.register-div{
	width: 500px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 100px;
}

.find-passwd-logo, .find-id-logo, .login-logo, .register-logo, .changePasswd-logo, .memDelete-logo{
	color: #03c75a;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
}

.find-passwd-logo a:link, .find-id-logo a:link, .login-logo a:link, .register-logo a:link, .changePasswd-logo a:link,
.memDelete-logo a:link{
	text-decoration: none;
	color: #03c75a;
}

.find-passwd-logo a:visited, .find-id-logo a:visited, .login-logo a:visited, .register-logo a:visited,
.changePasswd-logo a:visited, .memDelete-logo a:visited{
	color: #03c75a;
	text-decoration: none;
}

.find-passwd-span, .find-id-span{
	width: 100%;
    display: block;
    text-align: center;
    margin-top: -25px;
    font-size: 18px;
    font-family: "명조";
    font-weight: bold;
}

.changePasswd-span{
	width: 500px;
	display: block;
    text-align: center;
    margin-top: -25px;
    font-size: 18px;
    font-family: "명조";
    font-weight: bold;
}

.form-control{
	border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    margin: 5px 30px;
    padding: 20px;
    cursor: text;
}

.form-control-register{
	border: 1px solid #ccc;
    border-radius: 5px;
    width: 67%;
    margin: 5px 0px;
    padding: 20px;
    cursor: text;
}

.form-control-register-common{
	border: 1px solid #ccc;
    border-radius: 5px;
    width: 91%;
    margin: 5px 0px;
    padding: 20px;
    cursor: text;
}

.form-control-name{
	border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    margin: 5px 30px;
    padding: 20px;
    cursor: text;
    margin-top: 30px;
}

.form-control-pw{
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 80%;
	margin: 5px 0;
	padding: 20px;
	cursor: text;
	margin-top: 20px;
}

.form-control-delete{
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 80%;
	margin: 5px 0;
	padding: 20px;
	cursor: text;
}


.form-control-pwo{
	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 80%;
	margin: 5px 0;
	padding: 20px;
	cursor: text;
}

.form-control-pwc{
	margin-top: -6px;
	border: 1px solid #ccc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 80%;
	padding: 20px;
	cursor: text;
}

.form-control:focus, .form-control-register:focus, .form-control-register-common:focus,
.form-control-name:focus, .form-control-pw:focus, .form-control-delete:focus, .form-control-pwo:focus,
.form-control-pwc:focus{
	outline: none;
}

#login_btn{
	width: 88%;
    margin: 5px 30px;
    padding: 15px 20px;
    border: 0;
    background-color: #09aa5c;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.change-btn{
	width: 89%;
    padding: 20px;
    border: 0;
    background-color: #09aa5c;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#modifymem_btn{
	width: 100%;
    padding: 20px;
    border: 0;
    background-color: #09aa5c;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
}

.myPage-btn2{
	width: 100%;
    padding: 20px;
    border: 1px solid #09aa5c;
    background-color: #fff;
    color: #09aa5c;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.myPage-btn{
	width: 89%;
    padding: 20px;
    border: 1px solid #09aa5c;
    background-color: #fff;
    color: #09aa5c;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#register_btn{
	width: 99%;
	margin-top: 20px;
    padding: 10px 20px;
    border: 0;
    background-color: #09aa5c;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
	display: none;
} 

#home_btn{
	width: 99%;
	margin-top: 10px;
	padding: 10px 20px;
	border: 1px solid #09aa5c;
	background-color: #fff;
	color : #09aa5c;
	font-weight: bold;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
}

.noteq{
	text-align: center;
}

.find-pw-phone{
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: cursor;
}

#to{
	background-color: #fff;
}

.confirmId, .send, .enterBtn, #zip-code{
	width: 115px;
    background-color: #09aa5c;
    border: none;
    color: #fff;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    padding: 18px 0;
    border-radius: 5px;
}

#change_form ul, #delete_form ul{
	list-style: none;
}

#change_form ul li, #delete_form ul li{
	margin: 0;
}

#zip-code-modify{
	width: 115px;
    background-color: #09aa5c;
    border: none;
    color: #fff;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    padding: 21px 0;
    border-radius: 5px;
}

.hobby-checkbox{
	margin-left: 25px;
	margin-top: 20px;
}

.hobby-checkbox input{
	width: 10px;
	margin-left: 15px;
}

.hobby-checkbox span{
	width: 100px;
	margin-left: 10px;
	text-align: left;
	margin-right: 15px;
}

/* myPage nav */
.camera{
	width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #09aa5c;
    position: relative;
    top: -60px;
    left: 170px;
    border: 2px solid #fff;
    cursor: pointer;
}

#photo_choice{
	text-align: center;
}

#photo_submit:hover{
	background-color: #fff;
	color: #09aa5c;
	transition: 0.2s ease-out;
}

#photo_reset:hover{
	background-color: #09aa5c;
	color: #fff;
	transition: 0.2s ease-out;
}

.myPage-button{
	border: 0;
	background-color: #fff;
	color: #000;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 0;
	font-size: 15px;
	margin-left: 10px;
}

.myPage-button:hover{
	border-bottom: 2px solid #000;
}

.member-btn{
	border: 0;
	background-color: #fff;
	color: #000;
	cursor: pointer;
	padding: 5px 0;
	font-size: 12px;
	margin-left: 10px;
}

.member-btn:hover{
	border-bottom: 1px solid #000;
}

/* member-detail */
.member-detail{
	margin: 0 20px;
	padding: 20px 30px;
	margin-top: 20px;
}

.member-detail h3{
	display: inline-block;
	width: 100px;
	text-align: center;
}

.myPage-detail{
	border: 0;
    border-radius: 5px;
    width: 70%;
    margin: 5px 0px;
    padding: 10px;
    cursor: text;
    margin-left: 10px;
    font-size: 15px;
}

.myPage-detail:focus{
	outline: none;
}

#member_modify_btn{
	position: relative;
    transform: translate(-50%, -50%);
    margin-top: 40px;
    left: 50%;
    background: #09aa5c;
    color: #fff;
    border: 1px solid #09aa5c;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

#member_modify_btn:hover{
	background-color: #fff;
	color: #09aa5c;
}

/* 내가 생성한 파티 목록 */
.mpList, .mrList, .mpartyList, .fpList, .frList{
	width: 95%;
	margin: 20px;
	display: none;
}

.mpList table, .mrList table, .mpartyList table, .fpList table, .frList table{
	width: 100%;
	border-collapse:collapse;
}

.mpList table th, .mrList table th, .mpartyList table th,
.fpList table th, .frList table th, .noticeList th{
	padding: 15px 0;
	background-color: #09aa5c;
	color: #fff;
}

.mpList table td, .mrList table td, .mpartyList table td,
.fpList table td, .frList table td, .noticeList td{
	padding: 15px 0;
	border-bottom: 1px solid #ccc;
}

.mpList table td a:link, .mrList table td a:link, .mpartyList table td a:link,
.fpList table td a:link, .frList table td a:link, .noticeList td a:link{
	color: #000;
}

.mpList table td a:visited, .mrList table td a:visited, .mpartyList table td a:visited,
.fpList table td a:visited, .frList table td a:visited, .noticeList td a:visited{
	color: #000;
}

.mpList table td a:hover, .mrList table td a:hover, .mpartyList table td a:hover,
.fpList table td a:hover, .frList table td a:hover, .noticeList td a:hover{
	color: #09aa5c;
	text-decoration: none;
	transition: 0.2s ease-out;
}

/* 공지사항 */
.notice-main{
	width: 90%;
	margin: 0 auto;
	min-height: 636px;
}

.notice-wbtn{
	padding: 5px 15px;
	background-color: #09aa5c;
	color: #fff;
	border: 1px solid #09aa5c;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 15px;
}

.notice-wbtn:hover{
	background-color: #fff;
	color: #09aa5c;
	transition: 0.2s ease-out;
}

.noticeList{
	width: 100%;
	border-collapse:collapse;
	margin: 20px 0;
	margin-top: 30px;
}

#updateNotice_form, #noticeWrite_form{
	padding: 50px;
}

#updateNotice_form ul li, #noticeWrite_form ul li{
	margin-bottom: 15px;
}

.updateform-label{
	display: inline-block;
	width: 150px;
	text-align: center;
	padding: 15px 0;
	border: 1px solid #ccc;
}

.updateform-title{
	width: 76%;
    padding: 15px;
    margin-left: 0;
    border: 0;
}

.updateform-title:focus{
	outline: none;
}

.update-btn{
	padding: 5px 20px;
	background-color: #09aa5c;
	border: 1px solid #09aa5c;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 15px;
}

.update-btn:hover{
	background-color: #fff;
	color: #09aa5c;
	transition: 0.2s ease-out;
}

.update-cancel{
	padding: 5px 20px;
	background-color: #fff;
	border: 1px solid #09aa5c;
	color: #09aa5c;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 15px;
}

.update-cancel:hover{
	background-color: #09aa5c;
	color: #fff;
	transition: 0.2s ease-out;
}

.notice-view{
	width: 90%;
	margin: 0 auto;
	min-height: 636px;
	text-align: center;
	margin-top: 25px;
}

.notice-view h2{
	display: inline-block;
}

.detail-info{
	float: right;
}

.notice-view p{
	text-align: left;
	line-height: 30px;
}

.notice-content{
	padding: 20px;
	min-height: 250px;
}

/* party detail */
.partyDetail-main{
	width: 1024px;
	padding: 15px 0;
	display: flex;
	margin-top: 15px;
}

.partyDetail-img{
	flex: 1;
	overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.partyDetail-photo{
	height: 650px;
}

.partyDetail-content{
	flex: 1;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 650px;
}

.partyDetail-info{
	margin: 20px 30px;
}

.partyDetail-info h2{
	text-align: center;
	margin-top: 30px;
}

.partyDetail-chief{
	margin-top: 15px;
	text-align: right;
}

.partyDetail-chief img{
	object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin-bottom: -5px;
}

.partyDetail-con{
	margin-top: 15px;
	min-height: 385px;
	margin-bottom: 15px
}

.partyDetail-member{
	height: 40px;
	display: inline-block;
    width: 90%;
}

.member-img{
	height: 40px;
    width: 40px;
    float: left;
    margin-right: -10px;
    border-radius: 100%;
    border: 2px solid #fff;
}

.partyDetail-fav{
	display: inline-block;
	width: 40px;
	height: 40px;
}

.partyDetail-btn{
	text-align: center;
}

#apply_btn, #partyEnter, #party_modify, #party_write, #partyMain_modify{
	padding: 5px 20px;
	background-color: #09aa5c;
	border: 1px solid #09aa5c;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 15px;
}

#partySearch_btn{
	padding: 13px 20px;
	background-color: #09aa5c;
	border: 0;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	margin-left: -5px;
}

#apply_btn:hover, #partyEnter:hover, #party_modify:hover, #party_write:hover, #partyMain_modify:hover{
	background-color: #fff;
	color: #09aa5c;
	transition: 0.2s ease-out;
}

#partyWait{
	padding: 5px 20px;
	background-color: #09aa5c;
	border: 1px solid #09aa5c;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	margin-top: 15px;	
}

#party_delete, #partyMain_delete{
	padding: 5px 20px;
	background-color: #fff;
	border: 1px solid #09aa5c;
	color: #09aa5c;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 15px;	
}

#party_delete:hover, #partySearch_list:hover, #partyMain_delete:hover{
	background-color: #09aa5c;
	color: #fff;
}

#partySearch_list{
	padding: 10px 20px;
	background-color: #fff;
	border: 3px solid #09aa5c;
	color: #09aa5c;
	font-weight: bold;
	cursor: pointer;
	margin-left: -5px;	
}

#partySearchform{
	width: 1024px;
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 15px;
}

#partySearchform ul li{
	float: left;
}

#party_keyword{
	width: 300px;
	padding: 10px 15px;
	border: 3px solid #09aa5c;
}

#party_keyword:focus, #review_keyword:focus{
	outline: none;
}

.partyList{
	margin-top: 10px;
	margin-bottom: 10px;
    height: auto;
    display: inline-block;
}

.partyMain{
	padding: 0 30px;
}

.partyMain-img{
	display: flex;
	align-items: center;
	overflow: hidden;
	height: 250px;
}

.partyMain-info{
	padding: 0 20px;
}

.partyMain-name{
	text-align: center;
	margin-top: 20px;
}

.partyMain-content{
	margin-top: 20px;
}

#invite{
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
	text-align: right;
}

.invite-input{
	padding: 10px 15px;
	width: 150px;
	margin-left: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;	 
}

.invite-input:focus{
	outline: none;
}

#partysend{
	padding: 10px 20px;
	background-color: #09aa5c;
	border: 1px solid #09aa5c;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 15px;
}

#partysend:hover{
	color: #09aa5c;
	background-color: #fff;
}

.partyMem{
	margin-left: 5px;
    margin-top: -15px;
    margin-bottom: 10px;
    font-weight: bold;
}

.partyMainMem{
	margin-left: 5px;
	font-weight: bold;
	margin-bottom: -10px;
}



#message_id{
	margin: 5px 60px;
    display: block;
    text-align: right;
}