@charset "UTF-8";



/* 파티 목록 */
.item-space{
	margin-top: 40px;
}

.horizontal-area{
	float: left;
	width: 320px;
    height: 230px;
    overflow: hidden;
    border: 1px solid #303740;
    margin: 15px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.horizontal-area a:hover{
	color: #009d5a;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.item-space-pname{
	font-weight: bold;
	font-size: 15px;
	margin-left: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 15px;
}

.horizontal-area p{
	margin-left : 15px;
	margin-top: 5px;
	font-size: 10px;
}

.horizontal-area img{
	width: 320px;
}

#party_list_img{
	width: 320px;
	height: 160px;
	overflow: hidden;
	border-bottom: 1px solid #303740;
	margin-bottom: 15px;
}
.horizontal-area{
	float: left;
	width: 320px;
    height: 230px;
    overflow: hidden;
    border: 1px solid #303740;
    margin: 15px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.horizontal-area a:hover{
	color: #009d5a;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.party-list-pname{
	font-weight: bold;
	font-size: 15px;
	margin-left: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 15px;
}

.horizontal-area p{
	margin-left : 15px;
	margin-top: 5px;
	font-size: 10px;
}

.horizontal-area img{
	width: 320px;
}

#party_list_img{
	width: 320px;
	height: 160px;
	overflow: hidden;
	border-bottom: 1px solid #303740;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}