@charset "UTF-8";

/*리뷰 부분*/
#main_body{
	margin:0 auto;
}

.page-main {
    margin: 0 auto;
    padding: 35px;
    max-width: 750px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
    margin-top: 50px;
}



.detail-infooo{
	float: left;
    margin: 0px 0px 0px 6px;
    width: 710px;
    padding: 11px 0px 16px 0px;
   
}

.detail-infoo{
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 35px;
    padding: 10px 0px 0px 0px;
}

.detail-img{
	width: 500px;
    height: 340px;
    margin-left: 8px;
    margin-bottom: 8px;
   
   
    border-radius: 5%;
}





#output_reply{
	margin-left:15px;
}



#re_form{
	margin-left:-10px;
	padding:0;
}

#c_content{
	resize: none;
    width: 660px;
    height: 100px;
    font-size: 16px;
    margin-left: 30px;
}


.item{
	width: 650px;
    
    margin:30px 0px 10px 30px;
}

#reggi{
	margin-top: -53px;
    position: absolute;
    margin-left: 697px;
    width: 55px;
    height: 28px;
    font-size: 17px;
}

#llist{
	margin-top: -15px;
    margin-right: -42px;
    float: right;
    width: 55px;
    height: 28px;
    font-size: 17px;
}




span.letter-count{
	font-size: 12pt;
    color: #999;
    margin-left: 30px;
}

#output_fcount{
	width:20px;
}

.review-table{
	height:150px;
	margin:10px 0;
}



.my-photo{
	width:30px;
	height:30px;
}

.my-photoo{
	width:45px;
	height:45px;
}

.review-image{
	width:200px;
	height:150px;
}

.review_content{
	vertical-align:top;
	font-size:15px;
}

.review-main{
	width:85%;
	margin:auto;
	
}
.review-photo{
	padding:0 10px 0 80px;
}

form#search-form{
	padding:0;
	border:0px;
	display:inline-grid;
	justify-content:start;
	width: fit-content;
}

.align_right{
	float:right;
}
li{
	display:inline-block;
}

ul.search_form{
	padding-bottom: 15px;
}

.page-title{
	text-align: center;
	font-size: 25px;
	padding:15px 0 20px 0;
}

.review-date{
	font-size: 14px;
	padding-left: 5px;	
	height:10px;
	vertical-align:top;
	color: #696969;
}

.review-image{
	object-fit:cover;
	object-position:top;
	border-radius:5%;
}
.modify-btnn, .delete-btnn{
	height: 23px;
    width: 37px;
    float: right;
    margin-left: 10px;
}

hr {
    background:#ededed;
    height:2px;
    border:0;
}

#review-keyword{
	height:25px;
	width:200px;
}

/*리뷰 상세부분*/

ul.review-button{
	text-align:right;
}
.review_mem_name {
    font-size: 17px;
    font-weight: 600;
    height: 10px;
    padding-left: 5px;
    vertical-align: bottom;
    color: #1b4f6e;
}   
.page-main h2{
	margin: 0px 0px 0px 2px;
    font-size: 25px;
    color:#464646
}

.r_content{
	padding:25px 0px 25px 20px;
   	line-height:30px;
    font-size: 17px;
    clear: both;
}

#output_fav, #output_reply{
	width:30px;
}
#output_fcount {
	font-size:17px;
	vertical-align: middle;
    padding: 0 0 8px 5px;
    height: 40px;
    
}
#output_rcount{
	display:inline-block;
	font-size:17px;
	vertical-align: middle;
    padding: 0 0 8px 5px;
    height: 40px;
}
#review_icon{
	margin-left: 20px;
}

.rev-button img{
	width:17px;
	padding-left:15px;
}

.detail_hr{
	margin-bottom: 25px;
}


/*댓글 js부분*/
.modify-date{
	font-size: 11px;
	padding-left: 5px;
}
.reply_mem_name{
	font-size: 15px;
	font-weight:600;
	margin-left:10px;
}

.review_content:visited { text-decoration:none }
.review_content:hover   { text-decoration:underline }

.review-subitem{
	height:100px;
	
}



.review-hr{
	background:#dedede;
    height:1px;
    border:0;
    margin:12px 0 0 0 ;
    clear:both;	
	
}

.reply-content{
	float:left;
	width:80%;
	padding-bottom: 15px;
}	

.sub-item{
	
    font-size: 15px;
    line-height: 26px;
    padding-top:5px;
}

.modify-btnn, .delete-btnn,.content-reset{
	background-color: white;
    border-radius: 9%;
    color: #333333;
    border: 1px solid #007580fc;
    font-size: 15px;
    cursor: pointer;
    padding: 3px;
    height: 26px;
    width:50px;
    text-align: center;
}
.modify-btnn:hover,.delete-btnn:hover,.content-reset:hover {

  background: #2b9ca6fc;
  color: white;

}

#mreply_first{
	float: left;
    width: 60%;
    margin: -11px 0 0 -21px;
}

#mreply_second{
	float:right;
	width:30%;
	margin: -5px 0 11px 0 ;
}
.repContent{
	width: 95%;
    height: 50px;
    margin: 10px 10px;
}


/*리뷰 리스트 부분*/
tr.review_content td{
	padding-top: 12px;
}
.party_name{
	text-align: left;
    padding-top: 17px;
    font-size: 16px;
    height: 20px;
    padding-bottom: 10px;
    color:#007580fc;
}

.btn_css{
	background-color: white;
    border-radius: 9%;
    color: #333333;
    border: 1px solid #007580fc;
    font-size: 12px;
    cursor: pointer;
    padding: 3px;
    height: 26px;
    
}

.btn_css:hover {

  background: #2b9ca6fc;
  color: white;

}
.rev-keyfield{
	height:25px;
}
